@page
@model PrivacyModel

<row>
    <div class="col-lg-10 col-lg-offset-1">
        <h2>
            <strong>
                Personvern
            </strong>
        </h2>
        <hr />
        <h3>Data</h3>
        <p>
            Julekalenderen vil bruke navnet ditt fra Facebook/Google for visning av poeng.<br/>
            Novanet vil bruke e-postadressen din til å sende ut informasjon om julekalenderen, samt premie.
        </p>
        <h3>Slett meg</h3>
        <p>
            Ta kontakt for å bli slettet fra databasen. Alle brukere blir slettet fra databasen når konkurransen er over.
        </p>
        
        <br/>
        <br/>
        <a class="btn btn-default" href="/">Tilbake</a>
    </div>
</row>